$sizes: (
  sm: .75rem,
  md: 1.25rem,
  lg: 3rem,
  xl: 4rem
);

$direction: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

@each $key, $size in $sizes {
  @each $class, $dir in $direction {

    .u-pad-#{$class}-#{$key} {
      padding-#{$dir}: $size;
    }

    .u-mar-#{$class}-#{$key} {
      margin-#{$dir}: $size;
    }
  }

  .u-pad-v-#{$key} {
    padding-top: $size;
    padding-bottom: $size;
  }

  .u-pad-h-#{$key} {
    padding-left: $size;
    padding-right: $size;
  }

  .u-mar-v-#{$key} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .u-mar-h-#{$key} {
    margin-left: $size;
    margin-right: $size;
  }
}